/* CSS for the image-grid module */

.grid-element{
	background-color:white;
    /*border-radius:6px;*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    border: 1px solid rgb(236, 236, 236);
    display: inline-block;
    height:220px;
    margin: auto 20px 70px 20px;
    overflow:hidden;
    text-align:center;
    width:188px;
}

.grid-element-img {
	height: 100%;
    width:100%;
    text-align:center;
    cursor: pointer;
}

.grid-element-text {
	position:absolute;
    font-size: 10pt;
    margin-top:12px;
    text-align:center;
    width:188px;
}

.grid-element-date {
	color: #9c9c9c;
    font-weight: 500;
}